    <div class="col s12 m7">
      <div class="card ">
        <div class="card-content white-text">
          <span class="card-title black-text center">Projects Details</span>
          <table class="bordered striped centered responsive black-text">
              <thead class="">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Deadline</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of projectBeforeDeadline">
                  <td>{{item.name}}</td>
                  <td>{{item.description}}</td>
                  <td class="red-text"><strong>{{item.deadline  | relativeDate }}</strong></td>
                </tr>
                <tr *ngFor="let item of overdueProjects">
                  <td>{{item.name}}</td>
                  <td>{{item.description}}</td>
                  <td class="red-text"><strong>{{item.deadline}}</strong></td>
                </tr>
              </tbody>
            </table>       
        </div>
      </div>
    </div>
    <style>
    .red-bordered {
      border-top: 2pt solid red;
      border-bottom: 2pt solid red
    }
    </style>