
  .ddark-blue {
    background-color: #2C3E50;
}
.search-card, .result-card, footer  {
  min-width: 300px;
}
.ratio-card{
  min-height: 244px;
  min-width: 350px;

}
.card {
  border-radius: 20px;
}
.marine-blue {
  background-color: #2B5A84;
}