<nav class=" blue darken-3 " role="navigation">
  <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="white-text light brand-logo">
          <i class="material-icons">library_books</i>{{logo}}</a>
      <ul class="right hide-on-med-and-down">
          <li>
              <a class="white-text active" href="#">in Angular 4
                  <span class="new badge red" data-badge-caption="Live">4</span>
              </a>
          </li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
          <li>
          <a class="black-text" href="#">in Angular 4
              <span class="new badge red" data-badge-caption="Live"></span>
          </a>
          </li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse">
          <i class="material-icons white-text">menu</i>
      </a>
  </div>
</nav>