<nav class="ddark-blue" [ngClass]="{'blue darken-3':!isNightModeOn}" role="navigation">
  <div class="container nav-wrapper">
      <a id="logo-container" href="#" style="margin-left:20px " class="white-text light brand-logo">
        <i class="material-icons">library_books</i>{{logo}}</a>
        <!-- <div class="hide-on-med-and-down">
            <input type="text" name="Search" class=" z-depth-2" placeholder="Explore Materialize">
          </div>  -->
  
      <ul class="right hide-on-med-and-down">
          <app-alert></app-alert>
          <li class="switch" style="display: inline-flex;">
                <label>Night Mode
                <input type="checkbox" [checked]="isNightModeOn" (change)="isNightModeOn = !isNightModeOn;changed()">
                <span class="lever"></span>
                </label>
        </li>
      </ul>
    <app-left-side-nav></app-left-side-nav>
    <app-right-side-nav></app-right-side-nav>

  </div>
</nav>
