<app-navbar></app-navbar>
<div class="alla parallax-container hide-on-small-only">
        <div class="section no-pad-bot">
          <div class="container">
            <h1 class="header center white-text light">Brenda Project</h1>
            <div class="row center">
              <h5 class="header col s12 light white-text">One Simple CRUD Application</h5>
            </div>
            <!-- <div class="row">
                <div class="">
                    <app-result-nsearch (modalEmitter)="recieveModalFromResultNsearch($event)"
                    (ratioEmitter)="recieveRatioFromResultNsearch($event)"></app-result-nsearch>
                </div>
            </div> -->
            <div class="row center">
              <a href="#try" id="" class="btn-large waves-effect waves-light blue lighten-1">Try it</a>

            </div>
          </div>
        </div>
        <div class="parallax">
          <img [src]="url" alt="Unsplashed background img 1">
      </div>
</div>

<div class="alla section marine-blue" [ngClass]="{'grey lighten-3':!themeService.isNightModeOn}"  >
      <!-- <div class="">
        <app-intro></app-intro>
       </div> -->
          <div class="row">
              <div class="col s12 m6 ">
                  <app-result-nsearch (modalEmitter)="recieveModalFromResultNsearch($event)"
                  (ratioEmitter)="recieveRatioFromResultNsearch($event)"></app-result-nsearch>
              </div>
            <div class="col s12 m6 section scrollspy " id="try">           
              <app-ratio [ratiosInfo]="ratiosInfo" ></app-ratio>
            </div>
        </div>
        <div class="row section scrollspy " id="details">
        <router-outlet ></router-outlet>
        </div>
</div>


<app-modal [modal] ="modalObject"></app-modal>
<app-footer ></app-footer>