<footer class="page-footer blue darken-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Notes I shall add</h5>
        <p class="white-text">This project is a result of the solo work i have accomplished without following any given tutorial nor using any
          given template, This is more like of a POC (Proof Of Concept), real project is coming soon... </p>
      </div>
      <div class="col l3 s12 push-l2">
        <h5 class="white-text">Connect With Me</h5>
        <ul>
          <li>
            <a target="_blank" href="https://github.com/aseza" class="waves-effect waves-light grey darken-2 btn-floating ">
              <i class="fa fa-github"></i>
            </a>
            <a target="_blank" href="https://www.linkedin.com/in/abdelilah-ouchani-3755a4137/" class="waves-effect waves-light blue darken-3 btn-floating ">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by
      <a class="orange-text text-lighten-3" href="#">Abdelilah</a>
    </div>
  </div>
</footer>